.InfoBlock {
  width: 100%;
  min-height: 262px;
  background: rgba(4, 191, 148, 0.16);
  border-radius: 16px;
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;

  @media(min-width: 1024px) {
    width: 1088px;
    height: 252px;
    background-image: url(../../img/Frame1273.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 24px;
  }

  &__union {
    margin-right: 8px;
  }

  &__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #04BF94;

    @media(min-width: 1024px) {
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      margin: 0;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #242424;

    @media(min-width: 1024px) {
      font-size: 24px;
      line-height: 36px;
      color: #000;
    }
  }

  &__button {
    width: 100%;
    height: 40px;
    border: transparent;
    background: #04BF94;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    transition: 300ms;
    cursor: pointer;
    
    @media(min-width: 1024px) {
      max-width: 156px;
    }
  }

  &__button:hover {
    background-color: #fff;
    border: 2px solid #04BF94;
    color: #04BF94;
  }
}